<div>
    <h1>프로필</h1>
    <div class="left">
        <div class="photo">
            <img src="" alt="사진이미지">
            <div class="description">자기소개를 하는 부분입니다.</div>
        </div>
        <div class="follow">
            <div>
                <button class="followbtn">팔로잉 n명</button>
                <button class="follwerbtn">팔로워 n명</button>
            </div>
            <div class="follow_container">
                팔로워 목록이 뜹니다.
            </div>
        </div>
        <div class="controller">
            누가 보느냐에 따라 등장하는 요소가 다르게 적용됩니다.
            <a href="/profile/collectComment">
				<span class="button">내가 쓴 댓글</span>
			</a>
			<a href="/profile/collectBookmark">
				<span class="button">북마크한 글</span>
			</a>
			<a href="/profile/collectLike">
				<span class="button">좋아요 한 글</span>
			</a>
			<a href="/profile/profileModified">
				<span class="button">설정</span>
			</a>
        </div>
    </div>
    <div class="right">
        피드가 뜨게 합니다.
    </div>
</div>