<head>
    <link rel="stylesheet" href="/css/profile_jb.css">
</head>
<div class = comment-body>
    <br>
    <div class="center-container">
        <p>접근할 수 없는 페이지입니다.</p>
        <a href="/" style="text-decoration: none; color: #000000; background-color: #F8F8F8; padding: 10px; border-radius: 5px;">
            메인으로 돌아가기
        </a>
    </div>
</div>