<div class = comment-body>
    <h1>내가 쓴 댓글</h1>
    <br>
    <div class="center-container">
        <p>작성한 댓글이 없습니다.</p>
        <a href="/profile/<%= userId %>" style="text-decoration: none; color: #000000; background-color: #F8F8F8; padding: 10px; border-radius: 5px;">
            프로필로 돌아가기
        </a>
    </div>
</div>