<h1>비밀번호 변경</h1>
<textarea name="current_pwd" id="">현재 비밀번호 입력</textarea>
<textarea name="change_pwd" id="">변경할 비밀번호 입력</textarea>
<textarea name="check_pwd" id="">비밀번호 다시 입력</textarea>
<button>비밀번호 변경하기</button>