<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    body {
        margin: 0;
        padding: 0;
        max-width: 1000px;
        margin: auto;
    }
    .data-form {
        display: table-cell;
        vertical-align: middle;
        width: 1000px;
        height: 500px;
        background-color: #F8F8F8;
        text-align: center;
        border: 2px solid #C5C5C5;
        border-radius: 20px;
    }
    .form-group {
        margin-bottom: 20px;
    }
    .form-group input[type="text"],
    .form-group input[type="password"] {
        width: 30%;
        height: 20px;
        padding: 10px;
        border: 1px solid #C5C5C5;
        border-radius: 20px;
    }
    .form-group button {
        width: 20%;
        padding: 10px;
        background-color: #C5C5C5;
        color: black;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }
</style>
</head>
<body>
<h1>비밀번호 변경</h1>

<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    body {
        margin: 0;
        padding: 0;
        max-width: 1000px;
        margin: auto;
    }
    .data-form {
        display: table-cell;
        vertical-align: middle;
        width: 1000px;
        height: 500px;
        background-color: #F8F8F8;
        text-align: center;
        border: 2px solid #C5C5C5;
        border-radius: 20px;
    }
    .form-group {
        margin-bottom: 20px;
    }
    .form-group input[type="text"],
    .form-group input[type="password"] {
        width: 30%;
        height: 20px;
        padding: 10px;
        border: 1px solid #C5C5C5;
        border-radius: 20px;
    }
    .form-group button {
        width: 20%;
        padding: 10px;
        background-color: #C5C5C5;
        color: black;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }
</style>
</head>
<body>
<h1>비밀번호 변경</h1>