<div>
    <h1>프로필</h1>
    <div class="left">
        <div class="photo">
            <img src="" alt="사진이미지">
            <button class="photobtn">사진 변경하기</button>
        </div>
    </div>
    <div class="right">
        <div class="email">
            <h3>이메일</h3>
            <div>
                <span>이메일 적는 란</span>
                <button>이메일 변경하기</button>
            </div>
        </div>
        <div class="id">
            <h3>아이디</h3>
            <div>
                <span>아이디 적는 란</span>
                <button>아이디 변경하기</button>
            </div>
        </div>
        <div class="nickname">
            <h3>닉네임</h3>
            <div>
                <span>닉네임 적는 란</span>
                <button>닉네임 변경하기</button>
            </div>
        </div>
        <div class="description">
            <h3>소개글</h3>
            <div>
                <span>소개글 적는 란</span>
                <button>소개글 변경하기</button>
            </div>
        </div>
        <div class="job">
            <h3>직업</h3>
            <div>
                <span>직업 적는 란</span>
            </div>
        </div>
        <div class="age">
            <h3>나이</h3>
            <div>
                <span>나이 적는 란</span>
            </div>
        </div>
        <div class="sex">
            <h3>성별</h3>
            <div>
                <button>여성</button>
                <button>남성</button>
            </div>
        </div>
        <div class="thema">
            <h3>관심 테마 설정</h3>
            <div class="thema_container">
                테마 목록이 뜹니다.
            </div>
        </div>
        <div class="alarm">
            <button>댓글 알람 설정</button>
            <button>좋아요 알람 설정</button>
            <button>유도 알람 설정</button>
        </div>
        <div>
            <button class="change_pwd">비밀번호 변경</button>
            <button class="unregister">회원 탈퇴</button>
            <button class="modify">수정</button>
        </div>
    </div>
</div>