<head>
    <link rel="stylesheet" href="/css/profile_jb.css">
</head>
<div class="unregister-body">
    <h1>탈퇴하기</h1>
    <div class="unregister-form">
        <form class="form-unregister" action="/profile/<%= userId %>/cancleAccount" method="POST">
            <div class="unregister-form-group">
                <input type="password" id="current_password" name="current_password" placeholder="비밀번호 입력">
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="unregister-form-group">
                <input type="checkbox" id="confirm_check" name="confirm_check" required>
                <label for="confirm_check">정말 탈퇴하시겠습니까?</label>
            </div>
            <div class="unregister-form-group">
                <button type="submit" class="unregister" disabled>탈퇴하기</button>
            </div>
        </form>
    </div>
</div>

<script>
    function validateForm() {
        const isCurrentPasswordValid = current_password.value.trim() !== '';

        const applyButton = document.querySelector('.unregister');
        applyButton.disabled = !(isCurrentPasswordValid);
    }
    document.getElementById('current_password').addEventListener('input', validateForm);
</script>