<div>
    <h1>프로필</h1>
    <div class="left">
        <div class="photo">
            <img src="" alt="사진이미지">
            <button>사진 변경하기</button>
        </div>
        <div class="follow">
            <div>
                <button class="followbtn">팔로잉 n명</button>
                <button class="follwerbtn">팔로워 n명</button>
            </div>
            <div class="follow_container">
                팔로워 목록이 뜹니다.
            </div>
        </div>
    </div>
    <div class="right">
        <div class="nickname">
            <h3>닉네임</h3>
            <button>변경하기</button>
        </div>
        <div class="job">
            <h3>직업</h3>
            <button>변경하기</button>
        </div>
        <div class="tag">
            <h3>관심태그 설정</h3>
            <div class="tag_container">
                태그 목록이 뜹니다.
            </div>
        </div>
        <div class="thema">
            <h3>관심 테마 설정</h3>
            <div class="thema_container">
                테마 목록이 뜹니다.
            </div>
        </div>
        <div>
            <button class="wpost">내가 쓴 글</button>
            <button class="wreply">내가 쓴 댓글</button>
            <button class="bookmark">북마크한 글</button>
        </div>
        <div class="alarm">
            <button>댓글 알람 설정</button>
            <button>좋아요 알람 설정</button>
            <button>유도 알람 설정</button>
        </div>
    </div>
</div>