/* global.css */

/* 전체 스타일 초기화 */
* {
    margin: 0;
    padding: 0;     
    box-sizing: border-box;
  }
  .btn.btn-outline-success .fas.fa-heart {
    color: red !important;
  }
  
  .btn.btn-outline-success .far.fa-heart {
    color: gray !important;
  }
