.flash {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
}
.flash.success {
    background-color: #4CAF50;
    color: white;
}
.flash.error {
    background-color: #f44336; 
    color: white;
}

/*profile setting css*/
.setting-body {
    margin: 0;
    padding: 0;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.body-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 100%;
}
.left-column{
    flex: 1;
    text-align: center;
}
.right-column {
    flex: 1.2;
}
.big-circle {
    display: inline-block;
    width: 200px; 
    height: 200px; 
    border: 1px solid #000000;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.small-circle {
    display: inline-block;
    width: 180px; 
    height: 180px; 
    border-radius: 50%; 
    overflow: hidden; 
    position: absolute; 
    top: 10px; 
    left: 10px; 
}
.small-circle img {
    width: 100%;
    height: auto;
}
.left-column image {
    display: inline-block;
}
.form-group {
    margin-bottom: 20px;
    text-align: left;
}
.input-button {
    width: 470px;
    position: relative;
}
.form-group form {
    width: 470px;
    display: flex;
    align-items: center;
    position: relative;
}
.form-group label {
                display: block;
                margin-bottom: 5px;
}
.form-group input[type="text"],
.form-group input[type="integer"] {
    width: 450px;
    height: 20px;
    padding: 10px;
    background-color: #F8F8F8;
    border: 1px solid #C5C5C5;
    border-radius: 20px;
    cursor: pointer;
}
.form-group textarea {
    width: 450px;
    padding: 10px;
    height: 60px;
    background-color: #F8F8F8;
    border: 1px solid #C5C5C5;
    border-radius: 20px;
    cursor: pointer;
    resize: none;
    font-family: Arial, sans-serif;
    font-size: 13px;
}
.form-group button {
    border: 1px solid #C5C5C5;
    border-radius: 20px;
    cursor: pointer;
}
.form-group a{
    border: 1px solid #C5C5C5;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    width: 450px;
    background-color: #F8F8F8;
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
}
.button-gender,
.button-upper-theme {
    padding: 10px;
    width: 100px;
    background-color: #F8F8F8;
}
.button-gender.active,
.button-upper-theme.active, 
.button-lower-theme.active {
    background-color: #E9E9E9;
}
.button-lower-theme {
    padding: 10px;
    margin-top: 10px;
    width: 100px;
    background-color: #F8F8F8;
}
.notification-container {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.notification-item {
    width: calc(50% - 5px);
	height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #F8F8F8;
    border: 1px solid #C5C5C5;
    border-radius: 20px;
    box-sizing: border-box;
}
.notification-label {
    flex: 1;
    text-align: left;
}
.notification-status {
    padding: 5px 10px;
    background-color: #F8F8F8;
    border-radius: 10px;
    cursor: pointer;
}
.notification-item span {
    font-family: Arial, sans-serif;
    font-size: 13px;
}
.btn-primary,
.btn-secondary {
    padding: 10px;
    width: 450px;
    background-color: #F8F8F8;
}
.btn-check {
    top: 4px;
    right: 2px;
    width: 80px;
    height: 34px;
    background-color: #D1D1D1;
    position: absolute;
    margin-left: auto;
}

/*comment css*/
.comment-body {
    margin: 0;
    padding: 0;
    max-width: 1000px;
    margin: auto;
}
.comment-table {
    width: 100%;
    border-top: none;
}
.comment-table td {
    border-bottom: 1px lightgray solid; 
    height: 40px;
    font-size: 14px;
}
.footer {
    text-align: center;
    margin-top: 20px;
}
.comment-table td:nth-child(1) { 
    text-align: center;
}
.comment-table td:nth-child(2) { 
    text-align: left;
}
.comment-table td:nth-child(3) { 
    text-align: right;
}
.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 300px);
    text-align: center;
}

/* password css */
.password-body {
    margin: 0;
    padding: 0;
    max-width: 1000px;
    margin: auto;
}
.password-form {
    display: table-cell;
    vertical-align: middle;
    width: 1000px;
    height: 500px;
    background-color: #F8F8F8;
    text-align: center;
    border: 2px solid #C5C5C5;
    border-radius: 20px;
}
.password-form-group {
    margin-bottom: 20px;
}
.password-form-group input[type="text"],
.password-form-group input[type="password"] {
    width: 30%;
    height: 20px;
    padding: 10px;
    border: 1px solid #C5C5C5;
    border-radius: 20px;
}
.password-form-group button {
    width: 20%;
    padding: 10px;
    background-color: #C5C5C5;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* unregister css */
.unregister-body {
    margin: 0;
    padding: 0;
    max-width: 1000px;
    margin: auto;
}
.unregister-form {
    display:table-cell;
    vertical-align:middle;
    width: 1000px;
    height: 500px;
    background-color: #F8F8F8;
    text-align: center;
    border: 2px solid #C5C5C5;
    border-radius: 20px;
}
.unregister-form-group {
    margin-bottom: 20px;
}
.unregister-form-group input[type="text"],
.unregister-form-group input[type="password"] {
    width: 30%;
    height: 20px;
    padding: 10px;
    border: 1px solid #C5C5C5;
    border-radius: 20px;
}
.unregister-form-group button {
    width: 20%;
    padding: 10px;
    background-color: #C5C5C5;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.custom-checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    line-height: 32px;
 }
 .custom-checkbox input[type="checkbox"] {
     opacity: 0;
 }
 .custom-checkbox .checkbox-icon {
     position: absolute;
     top: 0;
     left: 0;
     width: 32px;
     height: 32px;
     background-color: #ffffff;
     border: 1px solid #C5C5C5;
     border-radius: 4px;
 }
 .custom-checkbox input[type="checkbox"]:checked + .checkbox-icon::before {
     content: "\2714";
     font-size: 18px;
     color: #000000;
     position: absolute;
     top: 2px;
     left: 4px;
 }
 .custom-checkbox label {
     display: inline-block;
     margin-left: 8px;
  }