/*profile view css*/
.profileBord {
    height: 93dvh;
    display: flex;
    justify-content: flex-end;
}

.left {
    position: fixed;
    left: 10%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 30%;
    max-width: 500px;
}

.left>h1 {
    margin-right: 50%;
}

.profilePhoto {
    min-height: 100px;
    height: 12%;
    aspect-ratio: 1 / 1;
    /* 정사각형 비율을 유지합니다 */
    border-radius: 50%;
    /* 완전한 원형으로 만들려면 50% */
    overflow: hidden;
    border: 1px solid #C5C5C5;
    outline: 10px solid white;
    box-shadow: 0 0 0 10px;
    margin-bottom: 20px;
}

.profilePhoto>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prifileBio {
    background-color: #F6F6F6;
    border: 1px solid #C5C5C5;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
}

.profileFollow {
    width: 70%;
    margin-bottom: 20px;
}

.select {
    margin: 15px 0px;
    display: flex;
    justify-content: space-around;
}

.select>a {
    color: black;
    text-decoration: none;
}

.select>a:hover {
    color: #6a6a6a;
}

.profileCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.profileCon>a {
    width: 100%;
    margin-bottom: 10px;
    padding: 7px;
    background-color: #F6F6F6;
    border: 1px solid #C5C5C5;
    border-radius: 20px;
    text-decoration: none;
    color: black;
}

.profileCon>a:hover {
    background-color: #e2e2e2;
    color: black;
}

.profileCon>button {
    width: 100%;
    margin-bottom: 10px;
    padding: 7px;
    background-color: #F6F6F6;
    border: 1px solid #C5C5C5;
    border-radius: 20px;
}

.profileCon>button:hover {
    background-color: #e2e2e2;
}

.right {
    width: 50%;
    position: relative;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    overflow: hidden;
}

.post>.postPhoto {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 10%;
    overflow: hidden;
    height: 30dvi;
    position: relative;
}

.post>.postPhoto>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post_title {
    margin-top: 1dvi;
}

.card-text {
    position: absolute;
    top: 3%;
    left: 5%;
    background-color: black;
    color: white;
    border-radius: 1rem;
    height: 8%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

/*follow view css*/

.profileFollow>.follow_container {
    background-color: #F6F6F6;
    border: 1px solid #C5C5C5;
    border-radius: 10px;
    padding: 10px;
    height: 25vh;
    max-height: 400px;
    /* 최대 너비를 설정합니다 */
    overflow: auto;
}

.follow_profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

.follow_profile>.photo {
    width: 11%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #C5C5C5;
    margin-right: 10px;
}

.follow_profile>.photo>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.follow_profile>a {
    color: black;
    text-decoration: none;
}

.follow_profile>a:hover {
    color: black;

}

.follow_profile>button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 25px;
    background-color: #E9E9E9;
    border: 1px solid #C5C5C5;
    border-radius: 20px;
    margin-left: auto;
    font-size: 11px;
}

.follow_profile>button:hover {
    background-color: #c4c4c4;
}

/*bookmark and like view css*/
.collect_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collect_container>h1 {
    margin-right: 60%;
}

.collect_user {
    text-align: center;
}

.collect_user>.profilePhoto {
    height: 16vh;
    max-height: 300px;
}

.collect_user>h1 {
    margin: 1vh;
}

.feed {
    max-width: 70dvi;
    margin-top: 3vh;
}